shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*prisma*
auto-install-peers=false
use-node-version=22.21.1
pnpm-version=9.15.5
node-linker=hoisted
shared-workspace-lockfile=true