version: '3'

services:

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      PGDATA: /data/postgres
    volumes:
       - pgdata:/data/postgres
    ports:
      - "54328:5432"

volumes:
  data:
  pgdata:
  # pgdata:
  node_modules:
